/* add svg as css  */
/* url("data:image/svg+xml;utf8,<svg>") */

:root {
    --black: #272727;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size-adjust: 10px;
}

/* link styling */
.button {
    color: var(--black);
    text-decoration: none;
    border: 1px solid var(--black);
    padding: 10px 12px 10px 10px;
}

/* styles for the boards container*/
.cortex_board {
    border: 1px solid var(--black);
}

/* styles for the board elements */
.cortex_board_elements{

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

/* styles for the device conatiner */
.cortex_device{
    margin: 10px 10px 10px 10px;
    border: 1px solid var(--black);
    padding: 10px 10px 10px 10px;
}


/* css cortex device styles */
.device_grid-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
      "device_data_block device_details device_actions";
  }
  
  .device_data_block { 
      grid-area: device_data_block;
      margin-right: .7rem;
      font-weight: 700;
      text-transform: capitalize;
    }
  
  .device_details { grid-area: device_details; }
  
  .device_actions { grid-area: device_actions; }
  