<div class='navBarWrapper'>

  <div class='front'> <img src="/assets/cortex.iot-brand-logo-mark.PNG" alt="Cortex.iot" /></div>
  <div class='middle'></div>
  <div class='back'>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfcp_bDc_GkOH8iZG7ZAxeSo0FVBqu0nNn3hhVWssExK0cPNA/viewform"> Feed Back</a>
    <a href="https://www.notion.so/Cortex-iot-Documentation-2da6afe6f8c24202820144d89615b7bc"> Docs </a>
  </div>
</div>
