<div class='navBarWrapper'>
  <div class='front'>logo</div>
  <div class='middle'></div>
  <div class='back'>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfcp_bDc_GkOH8iZG7ZAxeSo0FVBqu0nNn3hhVWssExK0cPNA/viewform"> Feed Back</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfcp_bDc_GkOH8iZG7ZAxeSo0FVBqu0nNn3hhVWssExK0cPNA/viewform"> Doc </a>
  </div>
</div>
