

.navBarWrapper {
  grid-area: n;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
  'f m b';



  height: var(--nav-height);
  background-color: var(--black-3);
  color: var(--white-4);
  /* padding: 0 -100px -10px; */
}


.navBarWrapper > .front {
  margin-top :var(--nav-top-padding);
  /* margin-left: var(--frame-margin); */
  grid-area: f;
}

.navBarWrapper > .middle {
  margin-top :var(--nav-top-padding);
  grid-area: m;
}

.navBarWrapper > .back {
  margin-top :var(--nav-top-padding);
  grid-area: b;
}


.navBarWrapper a {
  color: var(--white-4);
  padding-left: var(--frame-margin);
}


.navBarWrapper img {
  height:  35px;
}

.navBarLinksContainer {
  text-align: right;
  margin-right: var(--frame-margin);
}
