/node_modules
source/boot/settings
source/database/settings
source/database/history
source/hardware/settings
/settings
/history
/config/ssl/cert.pem
/config/ssl/key.pem
/source/network/history
/source/network/settings