<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>

    <style>

        body, html {
          height: 100%;
        }

    </style>

  </head>
  <body>
    

      Cortex.io Basic Home
      <div id="chart" style="height: 60vh;"></div>

    <!-- get data from graphql -->
    <script>

         
        var complete_hardware_history, System_config, Hardware_config;
        var query = `query {complete_hardware_history, System_config, Hardware_config}`;
        
        fetch('/graphql', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json',
          },
          body: JSON.stringify({
            query
          })
        })
        .then(r => r.json())
        .then(data => {
        
          // data.Hardware_config
          Hardware_config = JSON.parse(data.data.Hardware_config)
          System_config = JSON.parse(data.data.System_config)
          // complete_hardware_history = JSON.parse(data.complete_hardware_history)
          console.log(Hardware_config);
          console.log(System_config);
          // data.complete_hardware_history
          // console.log('data returned:', data)
        });


    </script>


    <script>

    </script>


  </body>
</html>