<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>

    <link  rel="stylesheet" href="static/css/style.css">

    <!-- get function to build render hardware -->
    <script src="static/js/hardware_render.js"></script> 
    <!-- last thing called is render to build ui -->
    <script src="static/js/init_render.js"></script>
    <!-- render data from system.emmiter -->
    <script src="static/js/socket_render_stream.js"></script>
    <!-- script to download system history -->
    <script src="static/js/history_download.js"></script>

  </head>
  <body>
    

    <!-- main view container -->
    <div class="grid-container">
      <!-- top bar of ui -->
      <div class="header">
        <a href='/'><img width="52" height="52" src="static/assets/cortex.iot-brand-logo-mark-black.png" alt="Cortex.iot" /></a>
      </div>
      <!-- list container in ui -->
      <div class="list">
       


          <!-- list shape -->
<!-- 
          <div class='systemContainer'>
            <div class="systemBoardContainer">
              <span>Board Name</span>
              <div class="systemDeviceContainer">
                <span>Current Reading</span> -
                <span>Device Name</span>
                
              </div>
            </div> -->
            

            <div class='systemContainer'>
                <!-- system will be placed here -->
            </div>
          
            <br>

            <button onclick="download_system_history('This is the content of my file :)')"> Download System History</button>


        </div>
      </div>
      <!-- spacing elements on either side of ui -->
      <div class="s-1"></div>
      <div class="s-2"></div>
    </div>
  



  </body>
</html>