#eventStreamList {
  list-style-type: none;

  /* for complete fill boarder needs to be the same color    */
  margin: 0;
  margin-left: 0;
  padding-left: .6rem;

}

#eventStreamList li {
  margin: 5px;
/*   background-color: lightyellow; */
}

#eventStreamList li .thermometer {
  color: blue;
  font-variant: small-caps;
}

#eventStreamList li .relay {
  color: green;
  font-variant: small-caps;
}

#eventStreamList li .cron {
  color: grey;
  font-variant: small-caps;
}

#eventStreamList li .reading {
  color: grey;
  font-variant: small-caps;
}

#inputREPL {
  /* width does not scale properly   */
  margin: 0;
  bottom: 0;
  width:98%;
  background-color: var(--grey-3);
  color: #eda407;
  padding-left: 1rem;

  border: 2px solid #818485;
}

#inputREPL ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white-3);
  opacity: .5; /* Firefox */
}

#inputREPL:focus { outline: none; }


#eventStreamList{
  height: 81%;
}
