<p id="demo"></p>

<script>


  socket.on("connection", function(){
    socket.emit("event-record-request")
  })

   socket.on("event-record-list", function(systemConfig){
      document.getElementById("demo").innerText = systemConfig
   })


</script>
