<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Cortex.iot Client">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="./manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Cortex.iot client">
    <meta name="theme-color" content="#303F9F">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Cortex.iot client">
    <meta name="apple-mobile-web-app-status-bar-style" content="#303F9F">

    <!-- Tile icon for Win8 -->
    <meta name="msapplication-TileColor" content="#3372DF">
    <meta name="msapplication-navbutton-color" content="#303F9F">

    <!-- icons for ui / Will make custom icons in the future -->
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    <title>Cortex.iot Client Dashboard</title>

    <!-- css styles -->
    <!-- root style -->
    <link rel="stylesheet" href="./public/style/master.css">
    <!-- landing styles -->
    <link rel="stylesheet" href="./public/style/landing.css">
    <!-- Data Stream styles -->
    <link rel="stylesheet" href="./public/style/stream.css">
    <!-- Boards and Devices Dashboard styles -->
    <link rel="stylesheet" href="./public/style/boards.css">
    <!-- Boards and Devices Dashboard styles -->
    <link rel="stylesheet" href="./public/style/nav_bar.css">
    <!--Modal styles -->
    <link rel="stylesheet" href="./public/style/modal.css">


</head>
<body>
   
    

</body>
<!-- scripts -->
<script src="./public/js/util.js"></script>
<!-- socket.iot lib -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
<!-- init sockets -->
<script src="./public/js/socket_init.js"></script>
<script src="./public/js/app.js"></script>
<script src="./public/js/service-worker.js"></script>

</html>