<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cortex.iot dashboard</title>

    <!-- socket.io CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
    <!-- create a window var for your sockets -->
    <script src="./static/assets/socket_init.js"></script>

</head>
<body>
    
    <h1>Cortex.iot dashboard</h1>


    <div id="settings"></div>

    
    <div id="deviceBank"></div>


</body>

<!-- include all scripts -->


<!-- socket db connectors -->
<script src="./static/assets/socket_db_calls.js"></script>

</html>