<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cortex.iot dashboard</title>

    <!-- socket.io CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
    <!-- create a window var for your sockets -->
    <script src="./static/assets/socket_init.js"></script>

</head>
<body>
    
    <h1>Cortex.iot dashboard</h1>

    <h1>settings</h1>
    <div id="settings"></div>

    <h1>deviceBank</h1>    
    <div id="deviceBank"></div>

    <h1>history</h1>
    <div id="history"></div>

    <h1>streamBundle</h1>
    <div id="streamBundle"></div>

    <h1>events</h1>
    <div id="events"></div>

    <h1>Target History</h1>
    <div id="target_history"></div>



</body>

<!-- include all scripts -->


<!-- socket db connectors -->
<script src="./static/assets/socket_db_calls.js"></script>

</html>