.cortexWrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(7, minmax(2fr, auto-fit));
  grid-template-rows: 90vh 31vh;
  grid-template-areas:
    "v v v v v b b"
  ;

  margin: 1rem;
}

.cortexWrapper>div {
  background-color: var(--white-4);
  /* border: .5px solid ; */

  border-left:    .5px solid var(--black-2);
  border-right:  .5px solid var(--black-2);
  border-bottom: .51px solid var(--black-2);
}



.visualizerWrapper {
  grid-area: v;

}

.nodeBankWrapper {
  grid-area: b;
}

.generalSettingsDiv{
  padding: .9rem;


}

input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border-style: none;
  border-bottom: 1px solid var(--black-4);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  margin: .3rem;
}

select {

    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border-style: none;
    border-bottom: 1px solid var(--black-4);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    margin: .3rem;

}


.actionButton {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    margin: .4rem;
}


.actionButton:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}



.actionButton {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    margin: .4rem;
}


.actionButton:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}



.component_icon{
  padding-right: .4rem;
}
