@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

:root {
    --black: #1D1D1D;
    font-family: 'Titillium Web', sans-serif;
    color: var(--black);
    padding: 1% 5% 2% 5%;
}



/* typography styling */
h1 {
    text-transform: capitalize;
}

/* input styling */
input {
    padding: .3rem;
    border-width: 0px 0px 2px 0px;
}

input:focus{
   outline: none; 
   outline-color: rgb(114, 184, 253);
}


/* button styles */
/* button styles */
button {
    background-color:#ffffff ;
    border: none;
    color:var(--black);
    padding: .6rem 1.3rem;
    border: 1.5px solid var(--black);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    outline: none;
}

.button_group.right {
    display:flex; 
    justify-content:flex-end; 
    width:100%; 
    padding:0;
    color: dodgerblue;
}


/* Green */
button.success {
    border-color: #4CAF50;
    color: green;
  }
  
button.success:hover {
background-color: #4CAF50;
color: white;
}
  
  /* Blue */
  button.info {
    border-color: #2196F3;
    color: dodgerblue;
  }
  
  button.info:hover {
    background: #2196F3;
    color: white;
  }
  
  /* Orange */
  button.warning {
    border-color: #ff9800;
    color: orange;
  }
  
  button.warning:hover {
    background: #ff9800;
    color: white;
  }
  
  /* Red */
  button.danger {
    border-color: #f44336;
    color: red;
  }
  
  button.danger:hover {
    background: #f44336;
    color: white;
  }
  
  /* Gray */
  button.default {
    border-color: #e7e7e7;
    color: black;
  }
  
  button.default:hover {
    background: #e7e7e7;
  }


/* fieldset styling */

a:visited {
 color: var(--black);
}

a {
    color: var(--black);
    cursor: pointer;
   }


fieldset{
    border:var(--black) 1px solid;
}

fieldset a {
    text-decoration: none;
}

fieldset legend {
    font-weight: 600;
}

/* :is(fieldset a) :hover :link  {

} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        padding: 0% 20% 2% 25%;
    }
   
}