.cortexWrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(7, minmax(2fr, auto-fit));
  grid-template-rows: 60vh 28vh;
  grid-template-areas:
    "v v v v v v v"
    "d d d d s s s";
  margin: 1rem;
  height: 89.5vh;
}

.cortexWrapper>div {
  background-color: var(--white-4);
  /* border: .5px solid ; */
  border-left: .5px solid var(--black-2);
  border-right: .5px solid var(--black-2);
  border-bottom: .51px solid var(--black-2);
}

.visualizerWrapper {
  grid-area: v;
}

.deviceDetailsWrapper {
  grid-area: d;
}

.deviceStatsWrapper {
  grid-area: s;
}
