<button class="button is-danger is-outlined"  onclick="deleteSystemConfig()">Delete System Config</button>
<script>

var socket = io();

function deleteSystemConfig() {
  if (confirm("this can not be undone \nTo reset system restart it to create new system Config")) {
    socket.emit('delete-system-config')
    alert("System Config deleted! \nRestart system for new system Config")
  } else {
    console.log("Event cancelled")
    //txt = "You pressed Cancel!";
  }
}


</script>
