<div class='drop-shadow-sharp'>
<div class='topBar'>
  <div class='topBarTabs'>
    <a href='#'>Event Stream</a>
    <a href='#'>Event Record</a>
  </div>
  <div class='topBarTabOption'>
    <a href='#'>|</a>
  </div>
</div>
  events
</div>
