
<p>${input.systemConfig.opperationName}</p>
<p>${input.systemConfig.timerTESTrate}</p>
<p>${input.systemConfig.admin}</p>
<!-- <p>${input.systemConfig.coordinates}</p> -->
<p>${input.systemConfig.nodes}</p>
<!-- <p>${input.systemConfig.devices}</p> -->
<!-- <p>${input.systemConfig.timers}</p> -->
